@media screen  and (min-width: 480px) {
    .container{
        max-width: 428px;
    }
    .container.mini-mobile{
        max-width: 264px;
    }
    .container.container-mini{
        min-width: 264px;
    }
    /* --------TEAM-------- */
    .main-container{
        max-width: 100%;
    }
    .footer-send-email{
        max-width: 398px;
    }
    
} 