@media screen  and (min-width: 480px) {
    .container{
        max-width: 428px;
    }
    .container.mini-mobile{
        max-width: 294px;
    }
    .container.container-mini{
        min-width: 294px;
    }
    /* --------TEAM-------- */
    .main-container{
        max-width: 100%;
    }
    .footer-send-email{
        max-width: 398px;
    }
    .main{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet.jpg);
        /* max-width: 768px; */
        background-size: cover;
        padding-bottom: 108px;
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .main{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_tab@2x.jpg);
        }
    }
    .mob-menu-adress-tel {
        font-family: 'Roboto';
    font-style: normal;
        font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    }
    .mob-soc-list {
        gap: 56px;
    }
    /* .container-menu{
        max-width: 428px;
    } */
    .customers-iteam {
        width: 190px;
    }
} 