@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .container.container-mini{
        max-width: 552px;
    }
    /* -----TEAM----- */
    .team{
        padding-bottom: 104px;
    }
    .team-list{
        gap: 24px;
        row-gap: 64px;
    }
    .team-item {
        width: calc((100% - 24px) / 2); 
    }

    /* ------CUSTOMERS------- */
    .customers-iteam {
        width: calc((100% - 48px) / 3);
    }
    .customers-list {
        gap: 24px;
        row-gap: 72px;
    }
    /* --------HERO-------- */
    .hero-list{
        gap: 24px;
        row-gap: 72px;
    }
    .hero-item{
        width: calc((100% - 24px) / 2);
    }
    .hero-text{
        height: 72px;
        font-weight: 500;
        max-width: 356px;
    }
    .hero-subtitle{
        text-align: left;
    }
}